* {

	box-sizing: border-box;

}

header {
	background-color: #EBECFF;
}

body {
	box-sizing: 1200px;
	display: flex;
	font-family: Tahoma;
	flex-direction: column;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}


}

.fixed-container {
	width: 1200px;
	margin: 0 auto;


}

.first-section {
	box-sizing: 1200px;
	display: flex;
	flex-direction: column;
	background-image: url(img/11.png);
	background-repeat: no-repeat;
	background-size: 1100px;
	background-position: bottom -50px right -270px;

}

.menu-container {
	display: flex;
	font-family: arial;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}

nav {
	display: flex;
}

nav a {
	color: #1f1f24;
	text-decoration: none;
	margin-right: 40px;
}

nav a:hover {
	color: #fc557c;
	text-decoration: underline;
}

.phone-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.phone {
	font-size: 25px;
	font-weight: bold;
	margin-right: 30px;
	font-weight: 700;

}

.order-call {
	border: 1px solid #000000;
	width: 210px;
	height: 45px;
	color: #000000;
	background-color: #EBECFF;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.order-call:hover {
	color: white;
	background: #000000;
	border: 1px solid transparent;

}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 650px;
	padding-left: 40px;

}

h1 {
	font-size: 64px;
	margin: 0 0 15px;
	margin-bottom: 38px;
	font-weight: 700;
	word-spacing:
}

h3 {
	color: #8993ad;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 50px;
}

.but_know {
	height: 60px;
	width: 270px;
	font-size: 18px;
	text-align: center;
	background-color: #ff4e2e;
	color: white;
	cursor: pointer;
	border: none;

}

.but_know:hover {
	color: white;
	background: #000000;
	border: 1px solid transparent;
}

.skils {

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 40px;
	margin-bottom: 100px;

}

h2 {
	text-align: center;
	font-size: 54px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.list_skils {
	display: flex;
	justify-content:space-around;
	list-style: none;
	margin-bottom: 100px;

}

.about_skil {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

.about_text {
	width: 260px;
	display: flex;
	font-weight: 300;
	font-size: 20px;
	color: #8993ad;
	text-align: center;
	line-height: 24px;
    margin-left: 20px;
}

.but_price {
	margin-top: 100px;
	height: 60px;
	width: 270px;
	font-size: 18px;
	text-align: center;
	background-color: #ff4e2e;
	color: white;
	cursor: pointer;
	border: none;
	flex: auto;
	justify-content: center;
	justify-items: center;
	

}

.but_price:hover {
	color: white;
	background: #000000;
	border: 1px solid transparent;
}
